<!-- ======= Header ======= -->

<div class="container d-flex align-items-center justify-content-between">
  <h1 class="logo"><a href="/">BlueDataSystems</a></h1>

  <nav id="navbar" class="navbar">
    <ul>
      <li><a class="nav-link scrollto" href="/">Home</a></li>
      <li><a class="nav-link scrollto" href="/#about">About</a></li>
      <li><a class="nav-link scrollto" href="/#contact">Contact</a></li>
      <li class="dropdown"><a href="#"><span>Service</span> <i class="bi bi-chevron-down"></i></a>
        <ul>
          <li><a href="/posts">Malware List</a></li>
          <li><a href="/ipfs/search_show">Quick Search</a></li>
        </ul>
      </li>
      <!-- Check User Login -->
      <% if(isAuthenticated){ %>
        <li><a href="/logout">Logout</a></li>
        <li><a class="getstarted scrollto" href="/users/<%= currentUser.username %>">My Account</a></li>
      <% } else { %>
        <li><a href="/users/new">Sign Up</a></li>
        <li><a class="getstarted scrollto" href="/login">Login</a></li>
      <% } %>
    </ul>
    <i class="bi bi-list mobile-nav-toggle"></i>
  </nav><!-- .navbar -->
</div>


