doctype 
html 
    head 
        meta(charset='utf-8')
    body
        br
        a(href="login/")="Login"
        br
        a(href="signup/")="Signup"
        br
        a(href="upload/")="Upload"

        form(action='logout' method='get')
            p
                input(type='submit')