<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3 jumbotron">

      <h2 class="mb-3">About</h2>

      <P>Ascode 제작자: 이정재</p>

    </div>
  </body>
</html>
