<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <div class="jumbotron">
        <h1>Ascode</h1>
        <P>블록체인 기반 악성코드 관리 시스템</p>
      </div>

    </div>
  </body>
</html>
