doctype html 
html 
    head 
        meta(charset='urt-8')
    body 
        artcle
            form(action='/download' method='post')
                input(type='text' name='hash' placeholder='IPFS hash')
                input(type='submit')
        